[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LifeInsuranceContracts"]
	path = LifeInsuranceContracts
	url = https://github.com/cran/LifeInsuranceContracts
[submodule "MortalityTables"]
	path = MortalityTables
	url = https://github.com/cran/MortalityTables
